.expense-date {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: 2px solid #ffc0cb;
    background: linear-gradient(145deg, #ffe6f0, #ffd1e6);
    color: #6b5b6b;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 8px rgba(255, 192, 203, 0.25);
  }
  
  .expense-date__month {
    font-size: 0.75rem;
    font-weight: bold;
  }
  
  .expense-date__year {
    font-size: 0.75rem;
  }
  
  .expense-date__day {
    font-size: 1.5rem;
    font-weight: bold;
  }